/*
  Author: Timoteo Ruiz Ruiz
  Project: Maquetacion 1
  Section: Tecnologies of information
*/
header, nav, section, article, aside, figure, footer{
  display: block;
}

a img {
  border: none;
}

.limpiar{
  clear: both;
}

body {
  background: #1bc640;
  margin: 30px;
}

p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  color: #333333;
  margin: 6px;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #222222;
  margin: 6px;
}

/* Maquetacion */
#contenedor{
  width: 960px;
  margin: 0 auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

#cabecera{
  height: 85px;
}

#logo{
  width: 352px;
  height: 85px;
  float: left;
}

#cabecera ul{
  width: 180px;
  height: 85px;
  display: block;
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 10px;
}

#cabecera ul li{
  float: right;
}

#cabecera li a{
  width: 45px;
  height: 45px;
  display: block;
  float: right;
  margin-left: 15px;
}

/*Menu*/
#menu{
  height: 80px;
  border-bottom: 3px solid #b7fba7;
}

#menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 540px;
  height: 60px;
  display: block;
  background-color: #b7fba7;
  float: right;
  padding-top: 20px;
  border-radius: 10px 10px 0px 0px;
}

#menu li{
  float: left;
}

#menu li a{
  line-height: 40px;
  display: block;
  padding: 0 25px;
  border-right: 3px solid #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

#menu li a:hover{
  color: #205514;
}

.tittulopagina{
  display: block;
  font-size: 30px;
  color: #6d6d6d;
}

.cajas{
  border-bottom: 5px solid #b7fba7;
  padding: 10px 0;
}

#cajapresentacion{
  width: 470px;
  float: left;
}

#cajapresentacion h1{
  font-size: 42px;
  color: #b7fba7;
  font-weight: bold;
}

#cajapresentacion p{
  text-align: justify;
  font-size: 16px;
}

#banner{
  width: 440px;
  float: right;
}

#banner img{
  width: 420px;
  height: 300px;
}

/* TAREA 
Anclas de cada proyecto no tengan el colo azul y el 
subrayado.
*/
/*--- Proyecto ---*/
.caja-proyectos{
	width:400px;
	float:left;
	border-top:1px solid #b7fba7;
	padding-top:16px;
	margin-right:50px;
}
.caja-proyectos h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#464646;
	margin:6px;
}
.caja-proyectos a{
	color:#848484;
	text-decoration:none;
}
/*-- Servicios ----*/
.caja-servicios{
	width:400px;
	float:left;
	margin-right:68px;
	margin-bottom:20px;
	border-top:1px solid #b7fba7;
}
.caja-servicios-sm{
	width:400px;
	float:left;
	margin-right:0;
	margin-bottom:20px;
	border-top:1px solid #b7fba7;
}
.caja-servicios h3, .caja-servicios-sm h3{
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:14px;
	 color:#727272;
	 margin:15px 6px 6px 6px;
}

.caja-servicios p{
  text-align: justify;
}

/*--- Pie pagina ---*/
#piepagina{
	height:80px;
	border-top:5px solid #b7fba7;
}
#piepagina .menupie{
	width:494px;
	height:60px;
	display:block;
	background:#b7fba7;
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	padding-top:20px;
}
#piepagina .menupie li{
	float:left;
}
#piepagina .menupie li a{
	line-height:40px;
	display:block;
	padding:0 25px;
	border-right:4px solid #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:rgb(16, 151, 75);
	font-weight:bold;
	text-decoration:none;
}
#piepagina .menupie li a:hover{
	color:#000;
}
#piepagina .socialpie{
	width:180px;
	display:block;
	float:right;
	margin:0;
	padding:0;
	list-style:none;
	padding-top:10px;
}
#piepagina .socialpie li{
	float:right;
}
#piepagina .socialpie li a{
	width:45px;
	height:45px;
	display:block;
	float:right;
	margin-left:12px;
}

/* RESPONSIVIDAD */
/* DISEÑO PARA TABLETS */
@media only screen and (max-width: 790px){
  body {
    margin: 15px;
  }
  #contenedor{
    width: 90%;
    padding: 2%;
  }
  #cabecera{
    height: auto;
  }
  #logo{
    width: 100%;
    height: auto;
    float: none;
  }
  #cabecera ul{
    display: none;
  }
  #menu ul{
    float: none;
    margin: 0 auto;
  }
  #cajapresentacion{
    width: 100%;
    float: none;
  }
  #cajapresentacion h1{
    font-size: 32px;
  }
  #banner{
    width: 100%;
    float: none;
  }
  #piepagina{
    height: auto;
  }
  #piepagina .menupie{
    float: none;
    margin: 0 auto;
  }
  #piepagina .socialpie{
    width: 180px;
    height: 45px;
    display: block;
    float: none;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    padding-top: 10px;
  }
}

/* RESPONSIVIDAD PARA MOVILES */
@media only screen and (max-width:480px) {
  body {
    margin: 8px;
  }
  p{
    font-size: 14px;
  }
  #contenedor{
    width: 98%;
    padding: 1%;
  }
  #logo{
    width: 98%;
  }
  #menu{
    height:auto;
    border-bottom: none;
  }
  #menu ul{
    width: 100%;
    height: auto;
    background: none;
    float: none;
    padding-top: 0;
  }
  #menu li{
    float: none;
  }
  #menu li a{
    line-height:30px;
    display: block;
    background: rgb(82, 226, 89);
    padding: 0;
    text-align: center;
    border-right: none;
    font-size: 12px;
    margin-bottom: 4px;
  }
  #banner img{
    width: 100%;
  }
  .caja-proyectos{
    width: 90%;
  }
  #piepagina .menupie{
    width: 100%;
    height: auto;
    background: none;
    float: none;
    padding-top: 0;
  }
  #piepagina .menupie li{
    float: none;
  }
  #piepagina .menupie li a{
    line-height: 30px;
    padding: 0;
    background: #cfc;
    border-right: none;
    font-size: 12px;
    margin-bottom: 4px;
    text-align: center;
  }
}


